{% extends "master.html" %}

{% block content %}
<div class="container">
    <h2>Edit Category</h2>
    <form action="/admin/edit_category/{{category.category_id}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Category Name:</label>
            <input type="text" name="name" id="name" value="{{category.name}}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" id="description" rows="5">{{category.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="image">Update Image:</label>
            <input type="file" name="imageurl" id="image" value="{{category.image_url}}">
        </div>
        <button type="submit" class="btn">Update Category</button>
    </form>
</div>
<style>
    body {
        font-family: Arial;
        background-color: #f0f0f0;
    }
    .container {
        width: 50%;
        margin: 50px auto;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
        text-align: center;
        color: #152a2a;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group label {
        display: block;
    }
    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 8px 0px;
    }
    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #152a2a;
        font-weight: bold;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>
{% endblock %}
